/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #4a4a4a;
  font-family: 'helvetica',helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow: hidden;
}

a {
  color: #00CC90;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #00CC90;
  border: none;
}

a.post-title-list:hover {		/*Hover effect for listed tags of ### */
  color: black ;
  background-color: #00CC90 ;
}

a.post-link:hover {
text-decoration: underline;
text-decoration-style: dashed;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  max-width: 60%;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #00CC90;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
  line-height: 1.5em;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 20px;
}

.tagline {
  width: 100%;
  color: #2A2A2A;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 1.25em;
  margin-top: 0.25em;
  margin-bottom: 0.1em;
  display: block;
}


.posts {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.footer {
  font-size: 0.95em;
  padding-top: 1.25em;
  padding-bottom: 0.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
}


#info-container {
  margin-top: 5em;		/*how much space above post title? */
  display: block;	
}



#title {
  color: black;
  margin-bottom: 0.65em;
  font-size: 30px;
  line-height: 50px;
}



.post {
  line-height: 20px;
  max-width: 80%;			/*how wide is the post? */
  clear: both;
  padding-bottom: 75px;
}

.post h2 {
  margin-top: 1.25em;
  margin-left: 0.1em;
  margin-bottom: 1.25em;
}

.post a,
#about a {
  border-bottom: 1px solid #;
}

.post a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.65em;			/* line spacing for posts */
  margin-bottom: 1.45em;
  text-align: left;
}

#tags {
  font-family: helvetica;
  font-size: 20px;				/*listed tags of ### */
  line-height: 1.65em;			/* line spacing for posts */
  margin-bottom: 1.45em;
  text-align: left;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
/*****************************************************************************/
/*
/* Masthead Work in Progress
/*
/*****************************************************************************/

.wrapper-masthead {
  margin-bottom: 5px;
  border-bottom: 2px dotted lightGray;
}

.masthead {
  padding: 10px 0;
  }

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 12px;

  }

.site-info {
  float: left;

  }


.site-name {
  margin: 0;
  color: darkGray;
  cursor: pointer;
  font-family: helveticaNeue;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: gray;
  font-size: 16px;
}

nav-top-left {
    margin-top: 23px;
	padding-left: 10px;
	height: 50%;
  }
  
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*  buzz out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(40%);
  transform: translateZ(40%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

  
  nav-top-right {
    margin-top: 23px;
	float: right;
    margin: 0 23% 10px 10px;
	font-weight: bold;
    font-family: "Helvetica", Helvetica, helvetica, sans-serif;
    font-size: 30px;
  }
  
nav-top-padding {
	margin-right: 30px;
}

nav-top-padding-left {
	margin-left: 30px;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 14%;
  padding-left: 5%;
  padding-right: 1.5%;
  border-right: 1px solid #e7e7e7;
}

.content {
  padding-left: 6.125em; /*how much padding before post? */
}

.header {
  text-align: center;
  padding-top: 0.5em;
  font-size: 14px;
}

.post-link {
  margin-bottom: 0.75em;
}

.post-title {
  font-weight: 600;
  font-size: 14px;
}

.post-title a:hover {
	font-color: #030303;
}

.post-date {
  font-family: helvetica;
  font-weight: 500;
  font-size: 12px;
  display: list-item;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.btn {
	float: center;
	width: 40px;
	height: 40px;
	 }

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

/*****************************************************************************/
/*
/* Colophon--Time Stamp
/*
/*****************************************************************************/

.colophon {

}

.colophon p {
  margin-top: 1em;
  margin-bottom: 5em;
  font-size: 0.95em;
  color: #777;
}



/*****************************************************************************/
/*
/* Right Sidebar and Tags
/*
/*****************************************************************************/

.right-sidebar,
.right-content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: hidden;
}

.right-sidebar {
  float: right;
  width: 10%;
  padding-left: 5%;
  padding-right: 1.5%;
}

.right-content {
  padding-left: 5.125em; /*how much padding before post? */
}

.right-header {
  text-align: left;
  padding-top: 0.5em;
  font-size: 1.1em;
}


.right-tagline {
  width: 100%;
  color: #2A2A2A;
  font-weight: 600;
  font-size: 25px;
  text-align: left;
  line-height: 1.25em;
  margin-top: 0.25em;
  margin-bottom: 0.1em;
  display: block;
}


.right-post-link {
  margin-bottom: 0.75em;
}

.right-post-title {
  font-weight: 600;
  font-size: 1.5em;
}

.right-post-title: hover {
	color: #00CC90;
}

.right-post-date {
  font-family: helvetica;
  font-weight: 500;
  font-size: 0.65em;
  display: list-item;
}


/*****************************************************************************/
/*
/* About me
/*
/*****************************************************************************/

.container-pic {
    float:left;
	display:inline;
    position: relative;
    width: 20%;
}


.container-pics {
  margin-left: auto;
  margin-right: auto;
}

td{ 
padding-bottom: 15px;
padding-top: 15px;
padding-right: 15px;
text-align: left;
}

#about-me-title-container {
  margin-top: 5em;		/*how much space above container? */
	
}

