@media (max-width:1309px) {


  #cover-photo {
    max-width: 95%;
  }

  .header {
    padding-top: 2.55em;
  }

  .posts {
    font-size: 0.9em;
  }

  .footer {
    font-size: 0.85em;
  }
}

@media (max-width:1090px) {

  .wrapper-masthead, .header-labels {
    font-size:14px;
  }

 .wrapper-masthead, .header-labels, {
  width:25%;
 }


  #logo {
    max-width: 100px;
  }

  #title {
    font-size: 2.75em;
    line-height: 35px;
  }

  .header {
    padding-top: 3.0em;
  }

  .posts {
    font-size: 0.85em;
  }

  .sidebar {
    padding-left: 4em;
  }

  .content {
    padding-right: 3em;
  }

  .footer {
    font-size: 0.85em;
  }


  .post p {
    font-family: helvetica;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1.45em;
    text-align: left;
  }
}

/**
 * iPhone width
 **/
@media (max-width:769px) {
 a, .a-header {
    font-size:12px;
    font-family: 'Roboto Slab', serif;
    vertical-align: middle;
    padding:1%;

  }


  #logo {
    max-width: 75px;
  }

  .header {
    height: 75%;
  }
  #cover-photo-container {
    text-align: center;
  }

  #title {
    font-size: 1.3em;
	line-height: normal;
  }

  .sidebar {
    transition: 1s;
    margin-left: -100%;
    z-index: 3;
    width: 35%;
  }

  .content {
    z-index: 1;
    padding-right: 1em;
	font-size: 0.7em;
	line-height: normal;
  margin-left:-7%;
  }

  #sidebar-button {
    display: block;
    z-index: 2;
  }


  .post p {
    font-family: helvetica;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1.45em;
    text-align: left;
  }
}

/**
 * iPhone width
 **/
@media (max-width:550px) {
 a, .a-header {
    font-size:10px;
    font-family: 'Roboto Slab', serif;
    vertical-align: middle;
    padding:10px;

  }


  #logo {
    max-width: 75px;
  }

  .header {
    height: 75%;
  }
  #cover-photo-container {
    text-align: center;
  }

#title {
    color: black;
    margin-bottom: 0.65em;
    font-size: 20px;
    line-height: 30px;
}
  .sidebar {
    transition: 1s;
    margin-left: -100%;
    z-index: 3;
    width: 35%;
  }

  .content {
    z-index: 1;
    padding-right: 1em;
  font-size: 0.7em;
  line-height: normal;
  margin-left:-7%;
  }

  #sidebar-button {
    display: block;
    z-index: 2;
  }


  .post p {
    font-family: helvetica;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1.45em;
    text-align: left;
  }
}


/*****************************************************************************/
/*
/* Sidebar responsive animations
/*
/*****************************************************************************/

.slideIn {
  margin-left: 0%;
}
