<!DOCTYPE html>
<html>


  <head>


  <link rel='/favicon.ico' href='favicon.ico' type='image/x-icon'/ >
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Covered+By+Your+Grace|Fredericka+the+Great|Lora|Merriweather|Playfair+Display|Reenie+Beanie|Roboto+Slab|Roboto|Waiting+for+the+Sunrise|Yeseva+One" rel="stylesheet">
  <script type="text/javascript" src="/scripts/jquery.magnifier.js"></script>   

<!--***********************************************
* jQuery Image Magnify- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* Please keep this notice intact
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/-->

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalabe=yes" >
	
	<!-- Google Analytics Tracking -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-83436405-1', 'auto');
      ga('send', 'pageview');
    </script>
      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="/css/syntax.css">
      <!-- Normalize rendering across web broswers-->
      <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/css/responsive.css">

      <link rel="stylesheet" href="../css/main.css">
      <script src="/scripts/responsive.js" type="text/javascript"></script>

  </head>

  <body>   
    <header><div class="row wrapper-masthead header-labels" style="position:fixed">
              <div class="col-1">
                <a href="{{ site.baseurl }}/blog/tag/statistics">
                <div class="hvr-grow header-color">Statistics</div></a>
              </div>
              
              <div style="padding-left:3%; width:10%">
                <a href="{{ site.baseurl }}/blog/tag/data-visualization">
                <div class="hvr-grow header-color">Coding</div></a>
              </div>
                
              <div class="col-1" style="padding-left:-25%">
                <a href="{{ site.baseurl }}/blog/tag/other">
                <div class="hvr-grow header-color">Other</div></a>
              </div>

              <div class="col-4" style="padding-left:.5%">
                <a href="{{ site.baseurl }}/blog/tag/journeys">
                <div class="hvr-grow header-color">Journeys</div></a>
              </div>

              <div class="col-3">
               
               <img src="/images/Girl-icon.png" alt="profile-pic" style="width:10%;  vertical-align: middle">
               <a href="{{ site.baseurl }}/about"><div class="header-color hvr-grow">
               About Me</div></a>
               <a href="./"><img src="/images/home-icon.png" class="hvr-buzz-out" alt="home" style="width:10%; padding-left:10%;  vertical-align: middle" ></a>
              </div>


    </div></header>

    <div class="row">
      <div class="sidebar" id="sidebar">
        <div class="header">          
          <h1 class="title"><a href="/"><img id="logo" alt="The S" src="/images/logo.png"></a></h1>
          <span class="tagline">A blog on statistics, coding,
          and other journeys</span>
        </div>
      <div class="footer">
          <a href="https://github.com/sonyahua"><img class="btn" alt="Github" src="/images/github.png"></a>
          <a href="https://www.instagram.com/dallying402/"><img class="btn" alt="Instagram" src="/images/instagram.png"></a>
          <a href="mailto: sonya.hua@gmail.com"><img class="btn" alt="e-mail" src="/images/email.png"></a>
          <span id="footer-links">
            <span class="separator"></span>
          </span>
      </div>
         
        <div class="posts">
          <ul class="posts-list">
              <li><a href="{{ site.baseurl }}/blog/tag/sep-2016/">September 2016</a></li>
              <li><a href="{{ site.baseurl }}/blog/tag/aug-2016/">August 2016</a></li>
              <li><a href="{{ site.baseurl }}/blog/tag/jun-2016/">June 2016</a></li>
              <li><a href="{{ site.baseurl }}/blog/tag/mar-2016/">March 2016</a></li>
          </ul>
        </div>
      </div>
    </div>


<div class="content offset-2 post-body">
 <!--      
        <div class="posts">
          <ul class="posts-list">
            {% for post in site.posts %}
              <li class="post-link">
                <a class="post-title" href="{{ post.url }}">
                  {{ post.title }}
                  
                </a>
              </li>
              
            {% endfor %}
          </ul>
        </div>
-->

        {{ content }}
</div>
</div>

  </body>
</html>
