<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>The S | {{ page.title }}</title>
        <link rel='/favicon.ico' href='favicon.ico' type='image/x-icon'/ >
 <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalabe=yes" >-->   
 	
    <!-- Google Analytics Tracking -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83436405-1', 'auto');
  ga('send', 'pageview');

</script>
    <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">

      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/css/responsive.css">

      <link href="../css/main.css" rel="stylesheet" type="text/css">
         <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <nav-top>
        	<nav-top-padding><a href="{{ site.baseurl }}/">Blog</a></nav-top-padding>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav-top>
      </div>
    </div>
    
  </head>
  <body>
  


    
    <div class="site">
    
  
      <div class="sidebar" id="sidebar">
        <div class="header">
                    
          <h1 class="title"><a href="/"><img id="logo" alt="The S" src="/images/logo.png"></a></h1>
          <span class="tagline">A blog on statistics, data visualization,
          and other journeys</span>
        </div>
 <div class="footer">

          <a href="https://github.com/sonyahua"><img class="btn" alt="Github" src="/images/github.png"></a>
          <a href="https://www.instagram.com/dallying402/"><img class="btn" alt="Instagram" src="/images/instagram.png"></a>
          <a href="mailto: sonya.hua@gmail.com"><img class="btn" alt="e-mail" src="/images/email.png"></a>
          <span id="footer-links">
 <span class="separator"></span>
          </span>
       </div>
         
<div class="posts">
          <ul class="posts-list">
          <li><a href="{{ site.baseurl }}/blog/tag/sep-2016/">September 2016</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/aug-2016/">August 2016</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/jun-2016/">June 2016</a></li>
          <li><a href="{{ site.baseurl }}/blog/tag/mar-2016/">March 2016</a></li>

</div>
</div>

        {{ content }}

    <script src="/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
